[submodule "libsodium"]
	path = libsodium
	url = ../../jedisct1/libsodium.git
[submodule "elfkickers"]
	path = elfkickers
	url = ../../BR903/ELFkickers.git
[submodule "tweetnacl"]
	path = tweetnacl
	url = ../../rongarret/tweetnacl.git
